@media only screen and (min-width: 750px) {
    .main {
        width: 750px;
        margin: auto;

        &__heading--hidden {
            display: none;
        }

        .banner {
            background: #fcf3f6;

            &__heading--hidden {
                display: none;
            }

            &__fig {

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &__video {
                width: 682px;
                height: 384px;

                &-wrapper {
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    padding-top: 8px;
                }
            }
        }

        .content {
            &__heading--hidden {
                display: none;
            }

            .spring {
                &__figure {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .spring-details {
                    position: relative;

                    &__figure {
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &__link-item {
                        &:nth-child(1) {
                            margin-right: 18px;
                        }
                    }

                    &__link-list {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                    }

                    &__btn {
                        width: 240px;
                        height: 59px;
                        background-color: #fff;
                        color: #000000;
                        font-size: 29px;
                        font-family: GothicA1-Medium;
                        border-radius: 70px;
                        border: 1px solid #000000;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &-wrapper {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            position: absolute;
                            bottom: 132px;
                        }

                        &--top {
                            width: 494px;
                            height: 65px;
                            background-color: white;
                            color: #000000;
                            font-size: 29px;
                            font-family: GothicA1-Medium;
                            border-radius: 70px;
                            border: 1px solid #000000;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 29px;
                        }
                    }

                }
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    .main {
        width: 100vw;
        margin: auto;

        &__heading--hidden {
            display: none;
        }

        .banner {
            background: #fcf3f6;

            &__heading--hidden {
                display: none;
            }

            &__fig {

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &__video {
                width: 90.933vw;
                height: 51.200vw;

                &-wrapper {
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    padding-top: 1.067vw;
                }
            }
        }

        .content {
            &__heading--hidden {
                display: none;
            }



            .spring {
                &__figure {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .spring-details {
                    position: relative;

                    &__figure {
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &__link-item {
                        &:nth-child(1) {
                            margin-right: 1.600vw;
                        }
                    }

                    &__link-list {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                    }

                    &__btn {
                        width: 31.250vw;
                        height: 7.682vw;
                        background-color: #fff;
                        color: #000000;
                        font-size: 3.867vw;
                        border-radius: 9.333vw;
                        border: 0.133vw solid #000000;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &-wrapper {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            position: absolute;
                            bottom: 17.188vw;
                        }

                        &--top {
                            width: 65.86666666666666vw;
                            height: 8.667vw;
                            background-color: white;
                            color: #000000;
                            font-size: 3.867vw;
                            border-radius: 9.333vw;
                            border: 0.133vw solid #000000;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 3.867vw;
                        }
                    }

                }
            }
        }
    }
}